{% include 'bpmn_representation.jinja2' %}

{% include 'bpmn_examples.jinja2' %}

---

The following is the message history between the user and an AI assistant.

Message history:
```
{{ message_history }}
```

Create a BPMN representation of the process described in the messages.