Updated process:
```json
{{ process }}
```

If you believe you have completed ALL the necessary changes and want to stop editing the process, output ONLY this JSON structure:
```json
{
  "stop": true
}
```

Otherwise, you may continue editing the process using the previously mentioned functions.